@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


@font-face {
    font-family: 'Breuer Font';
    src: url('../fonts/BreuerFont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Breuer Headline';
    src: url('../fonts/BreuerHeadline.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Breuer Headline Oblique';
    src: url('../fonts/BreuerHeadline-Oblique.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Breuer Text';
    src: url('../fonts/BreuerText.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Breuer Text Bold';
    src: url('../fonts/BreuerText-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Breuer Text Bold Italic';
    src: url('../fonts/BreuerText-BoldItalic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Breuer Text Medium';
    src: url('../fonts/BreuerText-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Breuer Text Regular';
    src: url('../fonts/BreuerText-Regular.otf');
    font-weight: normal;
    font-style: normal;
}